@charset "utf-8";

li{
	list-style: none;
}

p{
	margin: 0;	
}

#passport-container{
	padding: 20px 10px 10px 10px;
	position: fixed;
	right: 30px;
	bottom: 30px;
	width: 300px;
	height: 120px;
	border: 1px solid #efefef;
	background-color: #efefef;
	z-index: 9999;
	overflow: auto;
}

.passport-container_closeButton img{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 20px;
	height: auto;
}

.passport-container_queryString{
	text-align: center;
}

.passport-container_profileWrapperLeft,
.passport-container_profileWrapperRight{
	float: left;	
}

.passport-container_profileWrapperRight{
	margin: 5px 0 0 20px;
}

.passport-container_twitterPicture img{
	max-width: 50px;
	height: auto;
	border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}

.passport_clearfix:after{
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}

#passport-container div.name{
	display: none;
}

.passport-container_box{
	padding: 5px;
	width: 290px;
	background: #fff;
}

.passport-container_clickedSiteTitle{
	margin: 5px 0;
	text-align: center;
}

.passport-container_clickedSite_numberOfLike{
	padding: 2px 2px 2px 5px;
	color: #fff;
	background: #6495ED;
	border-radius: 10px 10px 10px 10px;
	min-width: 100px;
}

.passport-container_clickedSite_numberOfLike img{
	width: 20px;
	height: auto;
}

.passport-container_clickedSiteLeft,
.passport-container_clickedSiteRight{
	float: left;
}

.passport-container_clickedSiteLeft{
	margin-top: 10px;
}

.passport-container_clickedSiteRight{
	margin-left: 15px;
}

.passport-container_clickedSite_name{
	width: 100px;
}

.passport-container_more{
	margin: 5px 0;
}

.passport-container_clickedHistoryLeft,
.passport-container_clickedHistoryRight{
	float: left;	
}

.passport-container_clickedHistoryName{
	width: 100px;
}

.passport-container_clickedHistoryRight{
	margin-left: 15px;
}

#passport-container.passport-container_collapse{
	height: inherit;
	max-height: 80%;
}
#passport-container_changeUserButton img{
	width: 40px;
}
